<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: 'Password Changed Successfully' }) %>
</head>
<body>
    <div class="container">
        <h2 class="header">Your <%= appName %> Password Has Been Changed</h2>
        <p>
            We're sending this email to confirm that your password for your <%= appName %> account has been successfully changed.
        </p>
        <p>
            If you did not make this change or believe someone else has accessed your account, please contact our support team immediately.
        </p>
        <p>Thank you for using <%= appName %>!</p>
    </div>
</body>
</html>
